.get-in-touch {
    padding: 3rem 0 3.5rem 0;
    background-repeat: no-repeat;    
    color: #fff;
}
.get-in-touch h3 {
    font-size: 2.8rem;
    font-family: "Stolzl-Bold";
    text-transform: capitalize;
}